::placeholder {
  font-size: 24px;
  font-family: $font-light;
  color: $main-grey;
  transition: text-indent 0.3s ease;
  text-indent: 30px;
}

::selection {
  background-color: $main-lilac;
  color: $main-white;
}

body {
  font-family: $font-regular;
  background-color: $main-lilac;
}

input,
textarea {
  border: $main-grey 1px solid;
  outline: none;
  &:focus:required:invalid {
    border-color: $main-red;
  }
  &:required:valid {
    border-color: #cee0c7;
  }
}

.row-no-padding {
  [class*='col-'] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.title {
  font-family: $font-bold;
  font-size: 32px;
  color: $main-white;
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

/*  Logo   */
.brand-logo {
  background-color: $main-white;
  min-width: 190px;
  height: 90px;
  border-radius: $border-r-10;
  margin-right: 10px;
  a {
    display: inherit;
    text-align: center;
    line-height: 90px;
  }
  img {
    width: 118px;
    height: 75px;
  }
}
/*  Rating  */

.fa-star {
  font-size: 24px;
  color: #c5c5c5;
}

.checked {
  color: $main-red;
}

.arrows {
  position: absolute;
  height: 100%;
  right: -7%;
  margin-left: 10px;
}
.slider-btn {
  position: unset;
  background-image: none;
  width: 65px;
  height: 215px;
  margin-top: 0;
  top: 0;
  background-color: $main-red;
  border-radius: $border-r-10;
  line-height: 225px;
  margin-bottom: 20px;
  color: $main-white;
  text-align: center;
  i {
    font-size: 56px;
    line-height: 215px;
  }
}

.main {
  background-image: url(../img/layers/background-layer-179.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 110px;
}

.svg {
  position: absolute;
}
