/* ===== Fonts ===== */
@import 'fonts';

/* ===== Libraries ===== */
@import 'libs';

// SCSS Varibles
$font-regular: 'Helvetica', sans-serif;
$font-light: 'HelveticaLight', sans-serif;
$font-bold: 'HelveticaBold', sans-serif;
$main-lilac: #8985bc;
$main-white: #fff;
$main-red: #ea2f4a;
$main-black: #000;
$main-grey: #c5c5c5;
$border-r-5: 5px;
$border-r-10: 10px;

/* ===== Global Styles ===== */
@import 'global';

/*=============================================
        =   Header Begin    =
=============================================*/

.header {
  margin: 34px 0px 10px 0px;
  .input-search {
    width: 100%;
    position: relative;
    margin-left: 10px;
    input {
      width: 100%;
      height: 90px;
      border-radius: $border-r-10;
      text-indent: 30px;
      font-size: 24px;
      color: $main-lilac;
      &:focus::-webkit-input-placeholder {
        text-indent: 1000px;
        transition: text-indent 0.3s ease;
      }
    }
    .fa-search {
      position: absolute;
      top: 33px;
      right: 30px;
      font-size: 24px;
      cursor: pointer;
    }
  }
}

/*=============================================
        =   Slider Section Begin    =
=============================================*/

.menu-slider {
  background-image: url(../img/layers/background-layer-179.svg);
  background-size: contain;
  background-repeat: no-repeat;
  .row {
    position: relative;
  }
  .side-bar {
    min-width: 190px;
    height: 100%;
    background-color: $main-white;
    border-radius: $border-r-10;
    margin-right: 10px;
    .side-bar-ul {
      position: relative;
      list-style: none;
      padding: 20px 0px 10px 20px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .side-bar-li {
        display: block;
        // margin: 15px 0px 0px 20px;
        margin-right: 10px;
        min-width: 135px;

        .fa {
          width: 40px;
          height: 40px;
          font-size: 24px;
          color: $main-white;
          line-height: 40px;
          text-align: center;
          background-color: $main-red;
          border-radius: $border-r-5;
          margin-right: 20px;
        }
        a {
          color: $main-black;
          line-height: 40px;
          font-size: 16px;
          text-decoration: none;
          padding-bottom: 8px;
          border-bottom: none;
          transition: 0.3s ease;
          &:hover {
            color: $main-red;
          }
        }
      }
      .svg {
        position: absolute;
        top: 40%;
        right: 90%;
        z-index: -1;
        svg:first-child {
          margin-left: 20%;
        }
      }
    }
  }
  .slider {
    height: 100%;
    margin-left: 10px;
    border-radius: 10px;
    background-color: $main-lilac;
    width: 100%;
    position: relative;
    .stars {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .btn-start {
      font-family: $font-bold;
      font-size: 24px;
      color: #fff;
      background-color: $main-red;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      padding: 0;
      border: 0;
      outline: none;
      cursor: pointer;
      position: absolute;
      bottom: 50px;
      left: 45%;
      transition: 0.3s ease;
      &:hover {
        background-color: $main-white;
        color: $main-black;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

/*=============================================
        =   Popular Section Begin    =
=============================================*/

.popular {
  margin-top: 100px;
  position: relative;
  .svg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    svg:first-child {
      position: absolute;
      left: 30%;
      top: -30%;
    }
  }
}

.games {
  margin-bottom: 58px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .games-item:nth-child(5),
  .games-item:nth-child(10),
  .games-item:nth-child(15),
  .games-item:last-child {
    margin-right: 0px;
  }

  .games-item {
    width: 180px;
    height: 180px;
    background: transparent;
    text-align: center;
    margin: 0px 30px 60px 0px;
    cursor: pointer;
    img {
      border-radius: $border-r-5;
    }
    .slogan {
      font-size: 16px;
      margin-top: 10px;
      background: -webkit-linear-gradient(
        left,
        $main-white,
        $main-white,
        transparent
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &:hover {
        -webkit-text-fill-color: $main-black;
        color: $main-black;
      }
    }
  }
}

/*=============================================
        =   Category Section Begin    =
=============================================*/

.category {
  background-image: url(../img/layers/background-layer-402.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  .svg {
    position: absolute;
    left: 0;
    top: 5%;
    svg:nth-child(2) {
      position: absolute;
      top: -30%;
      left: 0;
    }
  }
  .svg-second {
    position: absolute;
    top: 0;
    right: 10%;
    svg:first-child {
      position: absolute;
      top: -30%;
      left: 40%;
    }
  }
  .svg-third {
    position: absolute;
    right: 0;
    bottom: 10%;
    z-index: -1;
    svg:first-child {
      position: absolute;
      top: -30%;
      left: 30%;
    }
  }
  .svg-fourth {
    position: absolute;
    left: 10%;
    bottom: -15%;
    z-index: -1;
    svg:first-child {
      position: absolute;
      top: -30%;
      left: 45%;
    }
  }
  .title {
    h1 {
      font-size: 24px;
      margin-top: 70px;
    }
  }
  .cat-buttons {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .cat-btn {
      background-color: $main-white;
      color: $main-black;
      border-radius: $border-r-5;
      height: 40px;
      font-size: 18px;
      line-height: 40px;
      margin: 10px 5px;
      padding: 1px 15px;
      border: none;
      outline: none;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        background-color: $main-red;
        color: $main-white;
      }
    }
  }

  .btn-all {
    text-transform: uppercase;
    font-size: 18px;
    color: $main-white;
    background-color: $main-red;
    height: 72px;
    line-height: 72px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: $border-r-10;
    &:hover {
      background-color: $main-white;
      color: $main-black;
    }
  }
}

/*=============================================
        =   Footer Begin    =
=============================================*/

.footer {
  margin-top: 110px;
  background-color: $main-red;
  .row {
    .col {
      padding: 0;
    }
    .col-2:nth-child(1) {
      background-color: $main-white;
    }
  }
  .brand-logo {
    border-radius: unset;
    margin-right: 0;
    padding-right: 20px;
    a {
      text-align: right;
    }
  }
  .pages {
    text-align: center;
    .pages-list {
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline-flex;
      li {
        margin: 0px 15px;
        a {
          color: $main-white;
          text-decoration: none;
          font-size: 16px;
          line-height: 90px;
          padding-bottom: 6px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.329);
        }
      }
    }
  }
  .copyright {
    text-align: center;
    color: $main-white;
    font-size: 16px;
    line-height: 90px;
    p {
      margin: 0;
    }
  }
}

/* ===== Media Queries ===== */

@import 'responsive';
